.headerContent{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #ffff;
    font-family: 'Sriracha';
    font-size: 20px;
    height: 50px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    border-bottom: 1px solid #ffff;
    .titleHeader{
        cursor: pointer;
    }
    .authSection{
        .login, .register {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}