.homeContainer{
    position: relative;
    .mainTitle{
        text-align: center;
        font-size: 40px;
        top: 50px;
        position: relative;
        font-family: "Sriracha";
        .title2{
            margin-bottom: 20px;
        }
    }
}